@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

.body{
    background-color: aqua;
}

.perfume{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: rgb(138, 138, 138);
    letter-spacing: 5px
}

.titre{
    font-family: Fraunces;
    font-weight: 700;
}

.text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: rgb(138, 138, 138);
    line-height: 1.6;
}

.normal-price{
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-weight: 700;
}

.reduced-price{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: rgb(138, 138, 138);
    text-decoration: line-through;
}

.button{
    font-family: Montserrat;
    font-weight: 500;
    background-color: hsl(158, 36%, 37%);
    color: white;
}

.button:hover{
    background-color: hsl(158, 37%, 28%);
    color: white;
}